* {
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    display: grid   ;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
.search{
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 0 5px 2px -2px rgb(141, 138, 138);
    z-index: 1000;
}
.projects {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(227,232,239);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding:1.5rem;
    gap: 2rem;
    overflow: scroll;
}

.first-half{
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 18fr;
}
.project-cards{
    display: grid;
    grid-template-rows: repeat(3, 1.5fr);
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: .1fr 2fr .1fr;
    grid-template-columns: .03fr 1fr ;
    column-gap: 2rem;
    overflow: scroll;
    padding-right: 2rem;
}
.final-images {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}
.project-card h3 {
    padding-top: 2rem;
    padding-bottom:.2rem;
}
.orange{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: orange;
}
h3 {
    font-size: 1.3rem;
    font-weight: 520;
}

/* Setting up the top left portion of the website*/
.search {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: .5rem 3rem .5rem 3rem;
}
.svg {
    width: 1.8rem;
    height: 1.8rem;
}

.search-first-half {
    display: grid;
    grid-template-columns:1.8fr 1fr;
    column-gap: 10rem;
    justify-content: center;
    align-items: center;
}
.search-top-left {
    display: grid;
    grid-template-columns: .8fr 20fr;
    column-gap: 1rem;
}
.search-bar {
    background-color: rgb(227, 232, 239);
    border-radius: 30rem;
    padding-left: .5rem;
    outline: none;
    border: 1px solid white;
    height: 1.8rem;
}
/* Setting up the top right portion of the website*/
.search-bar:focus{
    outline: none;
}
.search-top-right {
    display: grid;
    grid-template-columns: .1fr .1fr 2fr;
    column-gap: 1.8rem;
    justify-content: center;
    align-items: center;
}
.search-top-right .profile-name {
    font-weight: 700;
    font-size: 1.3rem;
}
.profile-pic, .dog-profile-pic{
    width:3rem;
    height: auto;
    border-radius: 30rem;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

/* Setting up the bottom left portion of the website*/
.search-second {
    display: grid;
    grid-template-columns:1.8fr 1fr;
    justify-content: center;
    align-items: center;
}
.search-bottom-left {
    display: grid;
    grid-template-rows:.1fr 1fr;
    grid-template-columns: .15fr 1fr;
    row-gap: .5rem;
}
.search-bottom-left .profile-pic{
    width: 4rem;
    height: auto;
    border-radius: 20rem;
    grid-row: 1/3;
}
.introduction{
    font-weight: 500;
    font-size: 1rem;
    grid: 2/1/3/2;
}
.username {
    font-size: 1.5rem ;
    grid: 2/2/3/3;
    font-weight: 700;
}
/* setting up bottom right portion of search */
.search-bottom-right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
button {
    height: 2.5rem;
    width: 6rem;
    background-color: rgb(69,144,206);
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5rem;
}
button:hover{
    color: black;
    background-color: lightblue;
}

/* Setting up left side of page */
.options{
    background-color: rgb(69,144,206);
    grid-column: 1/2;
    grid-row: 1/3;
    padding:1rem;   
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 6fr;
    align-items: center;
    row-gap: 2.5rem;
}
.dashboard {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    column-gap: .8rem;
}
.dashboard-svg {
    width: 3rem;
    height: 3rem;
    grid-column: 1/2;
}
.profile-svg, .project-card-svg{
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
}
.dashboard-text {
    font-size: 1.7rem;
    font-weight: 570;
    grid-column: 2/3;
    color: white;
}
.text-dashboard:hover{
    color:blue;
    font-size: 1.8rem;
}
.personal-info,.settings {
    padding-left: .5rem;
    display:grid;
    grid-template-columns: 1fr 10fr;
    column-gap: 1.5rem;
    align-items: center;
    row-gap: 1rem;
}
.text-dashboard {
    font-size: 1.2rem;
    color: white;
    font-weight: 570;
}
.personal-info {
    grid-template-rows: repeat(6,1fr);
}
.settings {
    grid-template-rows: repeat(3,1fr);
}

/* Setting up Announcements and Trending*/
.second-half{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: .3fr .7fr;
    row-gap: 1rem;
}
.top-right{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 9.5fr;
}
.bottom-right{
    grid-row: 2/3;
}
.announcements{
    grid-row: 1/2;
}
.top-card, .bottom-card {
    background-color: white;
    grid-row: 2/3;
    border-radius: 1rem;
    display: grid;
    padding: 1.3rem;

}
.slight-bold {
    padding-top: .5rem;
    font-weight: 550;
}
.first-card>.dummy-text, .second-card>.dummy-text {
    border-bottom: 1px solid grey;
    padding-bottom: .5rem;
}
.top-card{
    grid-template-rows: repeat(3, 1fr);
}
.bottom-card{
    grid-template-rows: repeat(4, .8fr);
    grid-template-columns: .1fr 10fr;
    column-gap: 1rem;
    row-gap: 3rem;
}
.dog, .fish, .cat, .snake{
    width:4rem;
    height: auto;
    border-radius: 30rem;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.user-info {
    font-size: 1.2rem;
}